html {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
  /*font-family: 'Poppins', sans-serif;*/
  text-align: center;
}

body {
  background-color: #F5F5F5;
  width: 100%;
  color: #212121;
  margin: 0 auto;
}

.container-navbar {
  font-size: 20px;
}

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  padding: 30px 40px;
}

.right-nav {
  grid-column: 2;
  text-align: right;

}

.right-nav a {
  padding-left: 40px;
}

.title {
  font-size: 80px;
  cursor: pointer;
  margin-top: 300px;
  margin-bottom: 300px;
}

.title-full {
  cursor: pointer;
}

.container-about {
  background-color: white;
  padding: 50px 20px 100px 25px;
  font-size: 30px;
  text-align: left;
  margin-left: -10px;
}

a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: black;
}

footer {
  background-color: #B3D4D5;
  height: 100%;
}

footer p {
  padding-top: 20px;
}
